{% extends "admin/base.html.twig" %}


{% block main %}

<h1> {{ admin }} </h1>

	{# {{form(brandForm)}} #}

	{{form_start(brandForm,  {'attr' : {'class' : 'form'}})}}

	{# création d'un label #}
	{{ form_label(brandForm.name, 'Nom de la brand', {'label_attr' : {'class' : 'label'} } ) }}

	{#création des champs avec form_widget#}
	{{ form_widget(brandForm.name, { 'attr' : {'placeholder' : 'Nom de la brand', 'class' : 'title' } } )}}


	{{ form_label(brandForm.description, 'Description de la brand', {'label_attr' : {'class' : 'label'} } ) }}

	{{ form_widget(brandForm.description, {'attr' : {'placeholder' : 'Contenu de la brand', 'class' : 'content' } } ) }}

	{{ form_label(brandForm.media, 'Media de la brand', {'label_attr' : {'class' : 'label'} } ) }}

	{{ form_widget(brandForm.media, {'attr' : {'placeholder' : 'Media de la brand', 'class' : 'content' } } ) }}

	{{form_widget(brandForm.enregistrer, {'attr' : {'class' : 'btn'}})}}

	{{form_end(brandForm)}}


{% endblock %}
