{% extends "admin/base.html.twig" %}


	
{% block main %}

<h1> {{ admin }} </h1>


{% for message in app.flashes('notice') %}
		<h3>{{ message }}</h3>
	{% endfor %}



	{% for brand in brands %}

<div class="card">

	<img src="{{asset('media/'~ brand.media)}}" alt="{{brand.name}}">

		<h2>
			<a href="{{ path("admin_brand_show", {'id' : brand.id } ) }}">{{brand.name}}</a>
		</h2>

</div>

	{% endfor %}

{% endblock %}
