{% extends "admin/base.html.twig" %}

{% block main %}

<h1> {{ admin }} </h1>


	<div class="card">	

	
	<img src="{{asset('media/' ~ category.media)}}" alt="{{category.name}}">


	<h2>{{ category.name }}</h2>
	<p>{{ category.description }}</p>



	</div>

	<div class="btn-upd-dlt">
			<a href="{{ path('admin_update_category', {'id' : category.id}) }}">Modifier</a>
			<a href="{{ path('admin_delete_category', {'id' : category.id} )}}">Supprimer</a>
		</div>
		
{% endblock %}