{% extends "admin/base.html.twig" %}

{% block main %}

 {% for image in product.media %}

		<img width=200px src="{{ asset('media/' ~ image.src) }}" alt="{{ image.alt }}">

	{% endfor %}

	<h2>{{ product.name }}</h2>
	<p>{{ product.price }}€</p>
	<p>{{ product.stock }}</p>
	<p>{{ product.brand.name }}</p>
	<p>{{ product.category.name }}</p>
	

{% endblock %}