{% extends "front/base.html.twig" %}

{% block main %}

<h1> {{ front }} </h1>


{% for image in product.media %}
    <img src="{{asset('media' ~ product.media )}}" alt="">
{% endfor %}

	<h2>{{ product.name }}</h2>
	<h3>{{ product.price }}</h3>
    <h4>{{product.category.name}}</h4>
    <h4>{{product.brand.name}}</h4>

{% endblock %}
